#gallery
{
	position: relative;
	width: 948px;
	height: 400px;
	float: left;
	overflow: hidden;
}

#video-player, #vertical-scroller
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	background-color: black;
}

#video-player
{
	left: 0px;
	right: 25%;
	margin: 0px;
	padding: 0px 5px;
}

#video-player iframe
{
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
}

#vertical-scroller
{
	margin: 0px;
	padding: 5px;
	overflow-y: auto;
	right: -20px;
	left: 75%;
}

#vertical-scroller li
{
	width: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	background-color: black;
	cursor: pointer;
}

#vertical-scroller li img
{
	left: 0px;
	right: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#vertical-scroller li:hover
{
	opacity: 0.8;
	filter: alpha(opacity=40);
}
